<div class="container">

  <nav class="navbar navbar-default">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/']" >Inicio</a></li>
        <li><a [routerLink]="['/lista-libros']" routerLinkActive="active" >Lista de libros</a></li>
        <li><a [routerLink]="['/acerca-de']" >Acerca de</a></li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <button  class="glyphicon glyphicon-book mostrar-libros" (click)="mostrarLista = !mostrarLista" >  </button>

    <div class="misLibros" *ngIf="mostrarLista" >
      <h2>Mis Libros </h2>
      <ul *ngIf="librosSeleccionados.mostrarLibros()" >
        <li *ngFor="let libro of librosSeleccionados.mostrarLibros()" >{{libro.titulo}}</li>
      </ul>
    </div>



    <h1> Club de libros</h1>
  </div>

</div>
